#terminal {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 20px;
  bottom: 20px;
  background-color: var(--bkg);
  border: 1px solid var(--black);
  color: var(--white);
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--black);
}

#terminal {
  scrollbar-width: thin;
  /* options: auto, thin, none */
  scrollbar-color: var(--bkg) black;
  /* thumb color, track color */
}

/* For Chrome, Safari, Edge, Opera */
#terminal::-webkit-scrollbar {
  width: 12px;
  /* vertical scrollbar width */
  height: 12px;
  /* horizontal scrollbar height */
}

#terminal::-webkit-scrollbar-track {
  background: black;
  /* color of the track */
}

#terminal::-webkit-scrollbar-thumb {
  background-color: var(--bkg);
  /* color of the thumb */
  border-radius: 20px;
  /* rounded corners */
  border: 3px solid black;
  /* border/padding around thumb */
}

#cmdline {
  outline: none;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: 600;

}

#background {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100vw;
}
