.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hover-green:hover {
  background-color: rgba(43, 200, 0);
}

.hover-blue:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.hover-green * {
  pointer-events: none;
}

.hover-blue * {
  pointer-events: none;
}
